.tabla2 {
  width: 1000px;
  height: 0px;
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: 25%;
  margin-right: 25%;

}

.tabla2 img {
  opacity: 1000;
  margin: 60px;
}

.btn-marcas {
  align-items: center;
  text-align: center;
}

/*.img1:hover {
  opacity: 100;
}

.img2:hover {
  opacity: 100;
}

.img3:hover {
  opacity: 100;
}

.img4:hover {
  opacity: 100;
}

.img6:hover {
  opacity: 100;
}

.img7:hover {
  opacity: 100;
}


.img8:hover {
  opacity: 100;
}


.img9:hover {
  opacity: 100;
}*/