* {
  box-sizing: border-box;

}

body {
  margin: 0;
  scroll-snap-type: y mandatory;
}

header {
  width: 100%;
  background-color: #141414;
  position: fixed;
  padding: 0.5rem 0;
  opacity: 60%;
  font-family: "Inconsolata", monospace;
  transition: top 0.5s ease-in-out;
  z-index: 5;
  padding-left: 3%;
  padding-right: 3%;
}

header:hover {
  opacity: 100%;
}

#navbar {
  display: flex;
  justify-content: space-between;
  transition: top 0.3s ease-in-out;
}

#navbar.hidden {
  top: -60px;
}

#navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#navbar ul li {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}

#navbar ul li a {
  display: block;

  color: #e7d8d8;
  text-decoration: none;
}

#navbar ul li:hover>ul {
  display: block;
  background-color: rgba(195, 194, 202, 0.973);
  font-family: "Inconsolata", monospace;
}

#navbar ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  animation-name: despliegue;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  width: 100%;
}

#navbar ul ul li {
  display: block;
  width: auto;
}

#navbar ul ul li a {
  display: block;
  padding: 10px;
  color: #000000;
  text-decoration: none;
}

#navbar ul ul li:hover {
  background-color: #ffffff;
}

@keyframes despliegue {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#despl {
  display: flex;
}

/*logo img*/

.logo {
  height: 50px;
}


/*buscador*/

#buscador {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#buscador input[type="text"],
#buscador button[type="submit"] {
  padding: 6px;
  font-size: 15px;
  box-shadow: 3px 4px 0px #7e7575;
  outline: none;
  font-family: "Inconsolata", monospace;
}

#buscador input[type="text"] {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-right: none;
  min-width: 300px;
}

#buscador button[type="submit"] {
  border: 1px solid #ccc;
  border-left: none;
  background-color: #ddd;
}

@media screen and (min-width: 1300px) {
  #buscador input[type="text"] {
    min-width: 450px;
    transition: all 0.3s ease;
  }
}

@media screen and (max-width: 1300px) {
  #buscador input[type="text"] {
    min-width: 250px;
    transition: all 0.3s ease;
  }
}

/*Opciones-derecha*/

#derecha {
  margin: 0;
  padding: 0;
  text-align: center;
}


/*css video fondo*/

#myVideo {
  width: 100%;
  filter: grayscale(20%) brightness(75%);
  opacity: 60%;
}

.content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content img {
  width: 25%;
  height: 90%;
  object-fit: contain;
}

#video-fondo {
  position: relative;
}


/* wrapp de las secciones  */

.envoltorio {
  width: 100%;
  height: 100vh;
  /*overflow-y: auto;*/
  /*scroll-snap-type: y mandatory;*/
  background-color: #2b2a2a;
}


section {
  width: 100%;

  /*scroll-snap-align: start;*/
}

.scroll-down-button {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.scroll-down-button button {
  background-color: #000000;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.scroll-down-button button:hover {
  color: #aaa;
}

.current-section {
  animation: section-fade-in 1s;
}

@keyframes section-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/*seccion2*/
#seccion2 {
  background-color: #ebe6e652;

}

/*estilos tabla categorias*/
.cuadricula {
  margin-top: 35px;
  text-align: center;
  padding: 15px;
}



.tabla-img {
  width: 1300px;
  height: 0px;
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: 17%;
  margin-right: 25%;
  margin-top: 30px;

}

.tabla-img td img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  background-color: #ebe6e652;
}

.tabla-img td img:hover {
  filter: brightness(40%);
}

.tabla-img td {

  border: 5px solid #ebe6e69a;
  position: relative;

}

.celda {
  position: relative;
  background-color: #ebe6e652;
}

.texto-celda {
  position: absolute;
  bottom: 0%;
  left: 0;
  text-align: left;
  width: 100%;
  color: rgba(240, 248, 255, 0.968);
  font-size: 65px;
  font-family: 'Varela Round', sans-serif;
  padding-left: 20px;
}



.celda1 img {
  filter: brightness(75%);

}

.celda2 img {
  filter: brightness(70%);
}

.celda3 img {

  filter: brightness(70%);
}

.celda4 img {
  filter: brightness(70%)
}

.celda5 img {
  filter: brightness(80%)
}

/* -------seccion 3 ------------*/

.container2 {
  background-color: #ebe6e652;
}

.tabla2 {
  width: 75%;
  height: 0px;
  table-layout: fixed;
  margin-left: 15%;
  margin-right: 15%;
}

.tabla2 img {
  opacity: 100;
  margin-top: 50px;
  animation: shadow-drop-center 0.7s linear both;

}



/*pie de pagina*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebe6e652;
  font-size: 13px;
}


.footer-item1 {
  font-size: 20px;
  text-align: center;
}

.footer-item1 img {
  width: 30%;
  height: 30%;
}

.footer-item2 img {
  width: 40px;
  height: 40px;
  margin-left: 55px;
  margin-top: 5%
}

.docs {
  order: 3;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.docs :hover {
  font-weight: bold;
}

.docs a{
  text-decoration: none;
  color: #000000;
}