header {
    background-color: #333;
    color: #fff;
    padding: 10px;
      position: relative;
      z-index: 1;
    }
  
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #e7d8d8;
    text-decoration: none;
    
   
    margin-right: 40px;
}

nav ul li:hover>ul {
    display: block;
    background-color: rgb(184, 183, 190);
    
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    padding: 0;
}

nav ul ul li {
    display: block;
    
    width: 80px;
}

nav ul ul li a {
    display: block;
    padding: 10px;
    color: #000000;
    text-decoration: none;
}

nav ul ul li:hover {
    background-color: #e5e5e5;
}
  .menu-izquierdo {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .menu-izquierdo li {
    margin-right: 20px;
  }
  
  .menu-izquierdo li:last-child {
    margin-right: 0px;
  }
  
  .menu-derecho {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
   
  }
 
  .menu-derecho li {
    margin-left: 20px;
    justify-content: space-between;

  }
  
  .menu-derecho li:last-child {
    margin-left: 0;
    
  }
  
  form {
    display: flex;
   
    justify-content: center;
    align-items: center;
  }
  
  input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 10px;
  }
  
  button[type="submit"] {
   margin-left: 5px;
    padding: 5px 10px;
    background-color: #e7d8d8;
    border:#333;
    border-radius: 10px;
    cursor:pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #c2c2c2;
  }
  
  /*css video*/
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
  }
  .content {
    position: relative;
    z-index: 1;
  }
 